<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3949e5d7eb.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">
            
            <div class="search">
         
                <input type="search" placeholder="Buscar productos, marcas"><br> 
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                
            </div>
        </div>    
           
            <p class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>

            <div class="container-burger">
                <a href="#" class="hamburger-button">
                    <i class="fa fa-bars fa-2x"></i>
                </a>
        </div>

        <nav class="main-header-bottom-bar">
            <ul class="left-nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li><br>
            </ul>

            <ul class="right-nav-bar">
                <li><a href="/register">Creá tu cuenta<i class="fa-solid fa-money-check"></i></a></i></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
        </nav>      
        
            <div class="burger-menu">
                
            </div>
    </header>
    <div class="banner">

        <img src="/images/img-home-banner.jpg" alt="banner">

    </div>

    <!--aqui va el formulario-->
    
    <form action="/crear-cuenta" method="POST" class="form-container">
        <div class="controls-1">
            <label for=""></label>
            <input type="text" name="nombre-apellido" placeholder="Nombre y apellido" required>
        </div>
        <div class="controls-1">
            <label for=""></label>
            <input type="text" name="email" placeholder="Nombre de usuario" required>
        </div>
        <div class="controls-1">
            <label for=""></label>
            <input type="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="controls-1">
            <h4 class="titulos">Fecha de Nacimiento</h4>
            <label for=""></label>
            <input type="date" name="fecha-nacimiento" required>
        </div>
        <div class="controls-1">
            <label for=""></label>
            <input type="text" name="domicilio" placeholder="Domicilio" required>
        </div>
        <div class="controls-1 controls-radio">
            <h4 class="titulos">Perfil de Usuario</h4>
            <div class="perfil-usuario-box">
                <label for="perfil"></label>
                <input type="radio" id="perfil" name="perfil-usuario" value="comprar" required>Comprador
                <input type="radio" id="perfil" name="perfil-usuario" value="vender" required>Vendedor
            </div>
        </div>
        <div class="controls-checkbox">
            <h4 class="controls-1 titulos">Intereses</h4>
            <div class="interes-box">
                
                <input type="checkbox" value="Electro">
                <label for="">Electro</label>

            </div>
            <div class="interes-box">
                
                <input type="checkbox" value="Moda">
                <label for="">Moda</label>

            </div>
            <div class="interes-box">
                
                <input type="checkbox" value="Hogar">
                <label for="">Hogar</label>

            </div>
            <div class="interes-box">
                
                <input type="checkbox" value="Juguetería">
                <label for="">Juguetería</label>

            </div>
            <div class="interes-box">
                
                <input type="checkbox" value="Vida Sana">
                <label for="">Vida Sana</label>

            </div>
        </div>
        <div class="controls-1">
            <h4 class="titulos">Foto de Usuario</h4>
            <label for="file"></label>
            <input type="file">
        </div>
        <div class="controls-1">
            <label for=""></label>
            <input type="password" placeholder="Contraseña" required>
        </div>
        <div class="controls-1">
            <label for=""></label>
            <input type="password" placeholder="Confirmar Contraseña" required>
        </div>
        <div class="buttons-row">
            <button type="submit" class="buttons-style">Enviar</button>
            <button type="reset" class="buttons-style">Borrar</button>
        </div>
    </form>

    <footer>
        <section>
            <div class="footer-icons">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>

        <section>
            <div class="footer-icons">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h4>Envío gratis desde $2500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>

        <section>
            <div class="footer-icons">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h4>Seguridad de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>

        <section>
            <p>Copywright © 1999-2020 MercadoLiebre S.R.L.<p>
        </section>
    </footer>

</body>
</html>