* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    /*background-color: #ebebeb;*/
}

header {
    background-color: #EAC926;
    width: 100vw;
    position: static;
    top: 0;
    z-index: 100;  
}

header ul  {
    margin: 0;
}

.banner {
    width: 100vw;
}

a {
    text-decoration: none;
    list-style:  none;
}

h3 {
    font-size: 24px;
    margin-left: 10px;
}

h4 {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.precio {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
}

footer {
    text-align: center;
}

header p {
    text-align: center;
}


input {
    line-height: 10px;
    margin-left: 10px;
    width: 160px;
}

ul {
    list-style: none;
    margin-left: 10px;
    padding: 0;
}

li a {
    margin-left: 0;
}

button {
    width: 2em;
    height: 2em;
    margin-left: 10px;
}

img {
    width: 100%;
}

.logo {
    width: 50%;
    margin: 10px;
}

.footer-icons {
    align-items: center;
    font-size: 3em;
    color: #1259c3;
    
}

.footer-icons i {
    transition: all 600ms;
}

.footer-icons i:hover {
    color: rgb(101, 199, 199);
}


.header-icons {
    align-items: center;
    float: inherit;
}

a {
    margin-left: 0;
}

footer p {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}

footer h4 {
    margin-bottom: 0;
}

a i {
    margin-left: 3px;
}

.main header {
    background-color: #EAC926;
}

.logo {
    width: 35%;
    display: block;
}

.copy-header {
    font-weight: 400;
    text-align: center;
    margin: 10px 10px;
}

.hamburger-button {
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 2.5rem;
    max-height: 2.5rem;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.container-burger {
    height: 3.5rem;
    position: relative;
}

.main-header-bottom-bar {
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    display: none;
    position: relative;
}

.main-header-top-bar {
    width: 90%;
    display: flex;
    position: relative;
    top: 0;
    z-index: 10;
}

main {
    width: 100vw;
}

article {
    margin: 10px;
}

.box-article {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-article .precio {
    flex-grow: 0.3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 20px;
    margin: 15px 0px;
    width: 30%;
}

.box-article .descuentos {
    flex-grow: 0.7;
    display: flex;
    justify-content: center;
    color: #39b54a;
    line-height: 20px;
    margin: 15px 0px;
    width: 70%;
}

.box-article .descripciones {
    display: none;
}

main section article .descripciones {
    flex-direction: column;
    line-height: 20px;
    margin: 15px 0px;  
    display: none;
}

main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article:hover .descripciones {
    /*display: block;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box-article i {
    font-size: 1.5em;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    justify-content: space-around;
    align-self: auto;
    text-align: center;
    margin: 5px;
    padding: 5px;
    transition: all 1s;
}

.box-article i:hover {
    transform: rotate(-90deg);
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    color: #39b54a;
    position: absolute;
    right: 20px;
    top: -15px;
}

.section-responsive {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    width: 100%;
    margin: 15px;
}

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 35%;
    align-items: center;
    
}

.search input {
    max-height: 25px;
}

.create-form {
    color: #000;
}

.control-formulario {
    margin-bottom: 15px;
}

.control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.controls-1 {
    width: 90%;
    /*padding: 8px 8px;*/
    margin: auto;
    line-height: 30px;
}

.controls-1 input {
    font-size: 25px;
    line-height: 30px;
}

.controls-radio {
    display: block;
    justify-content: flex-start;
}

.perfil-usuario-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 30px;
}

.controls-checkbox {
    display: flex;
    flex-direction: column;
   
}

.interes-box {
    margin: 10px 10px;
    display: flex;
    align-items: center;
}

.interes-box input {
    /*margin: 10px 10px;*/
    justify-content: flex-end;
    align-items: center;
}

.boton-formulario {
    width: 6rem;
    background-color: green;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.radio-oferta {
    margin: left;
}

.form-container {
    background-color: rgba(54, 49, 49, 0.133);
    display: flex;
    flex-direction: column;
}

.controls-1 input {
    width: 95%;   
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
    line-height: 22px;
    border: none;

}

.buttons-style {
    display: flex;
    flex-direction: row;
    background-color: green;
    width: 50px;
    color: white;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: none;
}

.titulos {
    margin: 5px;
}

.buttons-row {
    display: flex;
    flex-direction: row;
}

.formulario-contenedor {
    background-color: #c5bcbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 20px 20px;
}

.form-container {
    background-color: #c5bcbc;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px 20px;
}

/*.controls-radio h4 {
    margin-left: 25px;
}*/

.controls-checkbox h4 {
    margin-left: 25px;
}

.controlers {
    width: 80%;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    justify-content: center;    
}

.etiquetas {
    display: none;
}

.input-container {
    width: 100%;
    justify-content: center;
    display: flex;

}

.estilo-boton {
    width: 80%;
    background-color: #1259c3;
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px;;
}

@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .copy-header {
        max-width: 450px;
        text-align: right;
        font-size: 15px;
    }
    .hamburger-button {
        display: none;
    }
    .main-header-bottom-bar {
        display: flex;
        justify-content: space-between;
        margin: 1em;
        font-size: 1em;
    }
    .main-header-bottom-bar ul {
        display: flex;
    }
    .main-header-bottom-bar li {
        margin: 0 5px;
        font-size: 15px;
    }
    .section-responsive article {
        width: 40%;
        justify-content: center;
        align-items: center;
        margin: 37px 37px;
        flex-wrap: wrap;
    }
    .section-title {
        margin-left: 30px;
    }
    .controls-checkbox h4 {
        margin-left: 40px;
    }
    main section article:hover .descripciones {
        /*display: block;*/
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (min-width: 1200px) {
    .main-header-top-bar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-bottom-bar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-bottom-bar li {
        margin: 0 10px;
    }
    .main-header-bottom-bar a {
        font-size: 19px;
    }
    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    .logo {
        width: 250px;
    }
    .main-header-bottom-bar {
        margin-top: 50px;
    }
    .main-header-top-bar {
        align-items: center;    
    }
}

@media (max-width: 361px) {
    .descripciones {
        display: none;
    } 
}  

@media (min-width: 361px) {
    article {
        width: 92vw;
        margin: auto;
    } 
    .hamburger-button {
        display: none;
    }
    .container-burger {
        display: none;
    }
    .left-nav-bar {
        display: flex;
    }
    .right-nav-bar {
        display: flex;
    }
    .main-header-top-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.2em;
        margin: 0;
        width: 100vw;
    }
    .copy-header {
        text-align: center;
        font-size: 1em;
        align-self: center;
        margin: 10px;
    }
    .hamburger-button {
        display: none;
    }
    .main-header-bottom-bar {
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 1em;  
    }
    .main-header-bottom-bar ul {
        display: flex;
        font-size: 0.6em;
    }
    .main-header-bottom-bar li {
        margin: 0 5px;
    }
    header {
        width: 100vw;
    }
    .search {
        display: flex;
        margin: auto;
    }
    .main-header-top-bar img {
        width: 25%;
    }
    ul li {
        font-size: 1.1em;
    }
    footer {
        margin-top: 1rem;
    }
    .section-responsive {
        margin: 10px 0px;
    }
}

@media (min-width: 990px) {
    .section-responsive article {
        width: 17%;
        justify-content: space-around;
        align-items: space-around;
    }
    .descripciones , .descuentos,
    .precio  {
        font-size: 14px;
    }
    /*.box-article p {
        display: flex;
        justify-content: space-between;
    }*/
    .precio .descuentos {
        margin: 0px 15px;
    }
}